.Btn {
	background-color: #29323c;
	border-radius: 20px;
	color: white;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;

	&:hover {
		background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
		box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
		background-position: 100% 0;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
}
