.Expertise-Section {
	margin-top: -1rem;
	z-index: 0 !important;
	background-color: #f2f4f7;
	transform: skewY(-1.5deg);

	& > div > .Heading {
		border-bottom: 1px solid $color-primary;
		border-width: thin;
	}

	& > div {
		padding: 1rem;
		transform: skewY(1.5deg);

		& > div {
			margin: 2rem;
		}
	}

	& > div > div > .Card {
		margin: 2rem;
		cursor: pointer;
		& div {
			margin: 1rem;
			border-radius: 20px;
			background-image: linear-gradient(to bottom right, #f2994a, #f2c94c);
			padding: 1px;

			& h4 {
			}
		}

		&:hover {
			box-shadow: 0 .2rem .4rem #ccc;
		}
	}
}
